/* Write your CSS here */
.container {
  background-color: #f1f5f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading {
  color: #2d3a35;
  font-weight: bold;
  font-family: roboto;
  font-size: 45px;
}
.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  height: 30px;
  width: 80px;
  cursor: pointer;
  outline: no;
}
.counter {
  color: #c20a72;
}
